<div class="row opacity">
  <div class="col-sm-9">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title font-chewy">Drop me a line</h1>
      </div>
      <div class="panel-body">
        <p>
          If you would like to know any more about me, or have any questions, feel free to contact me. I am happy to answer any questions you may have.
        </P>

        <form id="emailForm">
          <div class="row form-group">
            <label for="name" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="name" id="name" placeholder="First & Last Name">
            </div>
          </div>
          <div class="row form-group">
            <label for="human" class="col-sm-2 control-label">Subject:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="">
            </div>
          </div>
          <div class="row form-group">
            <label for="message" class="col-sm-2 control-label">Message:</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3" name="message" id="message"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <ul class="pager">
                <li><a href="#contact" onClick="validateAndSubmit()">Compose</a></li>
                <li><a href="#contact" onClick="clearForm()">Clear</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title font-chewy">EMAIL</h3>
      </div>
      <div class="panel-body">
        <a href="MAILTO:JDG99@live.com" target="_top">JDG99@live.com</a>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title font-chewy">PHONE</h3>
      </div>
      <div class="panel-body">
        <a href="tel:509-264-0988">509.264.0988</a>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title font-chewy">ON THE WEB</h3>
      </div>
      <div class="panel-body contact-block">
        <ul class="list-inline social-buttons">
          <li>
            <a href="https://github.com/dgonz001" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="https://twitter.com/danny_b0y03" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jdannygonzalez" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
          </li>
          <li>
            <a href="https://www.freecodecamp.com/dgonz001" target="_blank" class="btn btn-default contact-btn"><span class="glyphicon glyphicon-tent"></span> <span class="network-name">freeCodeCamp</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
