<div class="row">
  <div class="col-sm-12">
    <div class="header-text font-pacifico">
      <span class="text-lg"><h1>{{name.big}}</h1></span>
      <span class="text-sm"><h1>{{name.small}}</h1></span>
    </div>
    <div class="col-sm-12 font-shadow">
      <h3>{{name.tagLine}}</h3>
      <hr class="sexy-line">
    </div>
    <ul class="list-inline social-buttons font-comfortaa">
      <li ng-repeat="media in mediaList">
        <a ng-href="{{media.href}}" target="_blank" class="btn btn-default btn-lg btn-success"><i ng-class="media.class"></i> <span class="network-name">{{media.name}}</span></a>
      </li>
    </ul>
  </div>
</div>