
<img class="img-responsive center-block" src="public/img/header-portfo.png" alt="Portfolio Banner" />
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#frontend" data-toggle="tab"><h2>Front-End Projects</h2></a></li>
  <li><a href="#api" data-toggle="tab"><h2>Api Projects</h2></a></li>
  <li ><a href="#webapp" data-toggle="tab"><h2>Web Application Projects</h2></a></li>
</ul>
<div class="tab-content clearfix">
  <div class="tab-pane active" id="frontend">
    <div class="col-sm-4 portfolio-project">
      <a href="https://codepen.io/jdg99/full/JGVjPR/" target="_blank">
        <img class="img-rounded" src="public/img/projects/tribute.png" alt="Tribute project" />
        <div class="carousel-caption">
          <h2>Tribute Project</h2>
        </div>
      </a>
    </div>
    <!--currently broken due to codePen.io CORS issues-->
    <!--<div class="col-sm-4 portfolio-project">-->
    <!--  <a href="https://codepen.io/jdg99/full/jqbOoV/" target="_blank">-->
    <!--    <img class="img-rounded" src="public/img/projects/randomQuote.png" alt="Quote Machine" />-->
    <!--    <div class="carousel-caption">-->
    <!--      <h2>Quote Machine</h2>-->
    <!--    </div>-->
    <!--  </a>-->
    <!--</div>-->
    <!--<div class="col-sm-4 portfolio-project">-->
    <!--  <a href="https://codepen.io/jdg99/full/oxbpJR/" target="_blank">-->
    <!--    <img class="img-rounded" src="public/img/projects/weather.png" alt="Local Weather App" />-->
    <!--    <div class="carousel-caption">-->
    <!--      <h2>Local Weather</h2>-->
    <!--    </div>-->
    <!--  </a>-->
    <!--</div>-->
    <div class="col-sm-4 portfolio-project">
      <a href="https://codepen.io/jdg99/full/qZNmoG/" target="_blank">
        <img class="img-rounded" src="public/img/projects/wiki.png" alt="Wikipedia Viewer" />
        <div class="carousel-caption">
          <h2>Wikipedia Viewer</h2>
        </div>
      </a>
    </div>
    <!--currently broken due to codePen.io CORS issues-->
    <!--<div class="col-sm-4 portfolio-project">-->
    <!--  <a href="https://codepen.io/jdg99/full/mPmeLN/" target="_blank">-->
    <!--    <img class="img-rounded" src="public/img/projects/twitch.png" alt="Twitch Streamer" />-->
    <!--    <div class="carousel-caption">-->
    <!--      <h2>Twitch Streamer</h2>-->
    <!--    </div>-->
    <!--  </a>-->
    <!--</div>-->
    <div class="col-sm-4 portfolio-project">
      <a href="https://codepen.io/jdg99/full/aNYojq/" target="_blank">
        <img class="img-rounded" src="public/img/projects/calculator.png" alt="Digital Calculator" />
        <div class="carousel-caption">
          <h2>Digital Calculator</h2>
        </div>
      </a>
    </div>
    <div class="col-sm-4 portfolio-project">
      <a href="https://codepen.io/jdg99/full/NNYodV/" target="_blank">
        <img class="img-rounded" src="public/img/projects/pomodoro.png" alt="Pomodoro Clock" />
        <div class="carousel-caption">
          <h2>Pomodoro Clock</h2>
        </div>
      </a>
    </div>
    <div class="col-sm-4 portfolio-project">
      <a href="https://codepen.io/jdg99/full/MyZgMB/" target="_blank">
        <img class="img-rounded" src="public/img/projects/ticTacToe.png" alt="Tic-Tac-Toe" />
        <div class="carousel-caption">
          <h2>Tic Tac Toe</h2>
        </div>
      </a>
    </div>
    <div class="col-sm-4 portfolio-project">
      <a href="https://codepen.io/jdg99/full/BKeJvm/" target="_blank">
        <img class="img-rounded" src="public/img/projects/simon.png" alt="Simon Says" />
        <div class="carousel-caption">
          <h2>Simon Says</h2>
        </div>
      </a>
    </div>
	</div>
	<div class="tab-pane" id="api">
    <div>
      <h3>Timestamp Microservice</h3>
      <p class="font-comfortaa">Passed a string as a parameter, it will check to see whether that string contains either a unix timestamp or a natural language date.</p>
      <a href="https://github.com/dgonz001/timestampApi" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-github fa-fw"></i> <span class="network-name">Repository</span></a>
      <a href="https://jdg-timestamp.herokuapp.com/" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-globe fa-fw"></i> <span class="network-name">Service</span></a>
    </div>
    <div>
      <h3>Request Header Parser Microservice</h3>
      <p class="font-comfortaa">This Microservice eturns the IP address, language and operating system for the current browser.</p>
      <a href="https://github.com/dgonz001/headerParser" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-github fa-fw"></i> <span class="network-name">Repository</span></a>
      <a href="https://jdg-header-parser.herokuapp.com/" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-globe fa-fw"></i> <span class="network-name">Service</span></a>
    </div>
    <div>
      <h3>URL Shortener Microservice</h3>
      <p class="font-comfortaa">Generates and returns a shortened URL.</p>
      <a href="https://github.com/dgonz001/urlShortener" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-github fa-fw"></i> <span class="network-name">Repository</span></a>
      <a href="https://jdg-short.herokuapp.com/" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-globe fa-fw"></i> <span class="network-name">Service</span></a>
    </div>
    <div>
      <h3>Image Search Abstraction Layer</h3>
      <p class="font-comfortaa">A simple image search abstraction layer that allows a user to search for images and view the most recent searches.</p>
      <a href="https://github.com/dgonz001/imageSearch" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-github fa-fw"></i> <span class="network-name">Repository</span></a>
      <a href="https://jdg-image.herokuapp.com/" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-globe fa-fw"></i> <span class="network-name">Service</span></a>
    </div>
    <div>
      <h3>File Metadata Microservice</h3>
      <p class="font-comfortaa">This microservice gives you the size (in bytes) of any formdata that you provide for upload.</p>
      <a href="https://github.com/dgonz001/fileMetadata" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-github fa-fw"></i> <span class="network-name">Repository</span></a>
      <a href="https://jdg-metadata.herokuapp.com/" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-globe fa-fw"></i> <span class="network-name">Service</span></a>
    </div>
	</div>
	<div class="tab-pane" id="webapp">
    <div>
      <h3>Voting App</h3>
      <p class="font-comfortaa">Pollapalooza is an app that allows you to create, view, and vote on user made polls</p>
      <a href="https://github.com/dgonz001/votingApp" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-github fa-fw"></i> <span class="network-name">Repository</span></a>
      <a href="https://pollapalooza.herokuapp.com/" target="_blank" class="btn btn-default contact-btn"><i class="fa fa-globe fa-fw"></i> <span class="network-name">Web Application</span></a>
    </div>
	</div>
</div>