html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #000;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 50px 10px 50px 10px;
}

.opacity {
  opacity: 0.975;
}

.font-shadow {
  font-family: 'Shadows Into Light', cursive;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-chewy {
  font-family: 'Chewy', cursive;
}

.font-comfortaa {
  font-family: 'Comfortaa', cursive;
}

.home-container {
  color: #fff;
  padding-top: 150px;
  text-align: center;
  background: url(../img/backgrounds/seattle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

hr.sexy-line {
  height: 2px;
  border: 0;
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(right, rgba(255, 2550, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.about-container {
  color: #fff;
  background: url(../img/backgrounds/matrix.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.about-container .well {
  background-color: rgba(120, 120, 120, 0.4);
  border: 10px black;
}

.about-padding {
  padding-top: 50px;
}

.about-portrait {
  padding: 10px;
  max-height: 475px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skill-block {
  display: inline-block;
}

.skills-list {
  margin: 0px;
}

.skill-btn {
  margin-top: 5px;
}

.portfolio-container {
  color: #fff;
  padding-top: 60px;
  font-family: 'Chewy', cursive;
  background: url(../img/backgrounds/woodroom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.portfolio-container a img {
  width: 223px;
  height: 240px;
  -webkit-filter: blur(3px) grayscale(100%);
  filter: blur(3px) grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.portfolio-container a:hover img {
  -webkit-filter: blur(0) grayscale(0);
  filter: blur(0) grayscale(0);
}

.portfolio-container .carousel-caption h2 {
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  opacity: 1;
  color: white;
   -webkit-text-fill-color:  #FFF;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000;
}

.portfolio-container a:hover .carousel-caption h2 {
  opacity: 0;
}

.portfolio-project {
  padding: 10px;
}
  
.nav-tabs a {
  color: white;
}

.nav-tabs a:hover {
  color: black;
}

.contact-container {
  padding-top: 125px;
  font-family: 'Comfortaa', cursive;
  background: url(../img/backgrounds/city.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.contact-block {
  display: block;
  text-align: center;
  margin: 10px 0px 10px 0px;
  padding: 0;
}

.contact-btn {
  margin-top: 5px;
}

@media (min-width: 481px) {
  span.text-sm {
    display: none;
  }
  span.text-lg {
    display: inline-block;
  }
}

@media (max-width: 480px) {
  span.text-sm {
    display: inline-block;
  }
  span.text-lg {
    display: none;
  }
  .home-container {
    padding-top: 40px;
  }
  .header-text h3,
  .header-text hr {
    margin: 0px 0px 10px 0px;
  }
}

@media(max-width:675px) {
  ul.social-buttons > li {
    display: block;
    margin-bottom: 10px;
    padding: 0;
  }
}

@media(max-width:768px) {
  .about-portrait {
    display: none;
  }
  .about-padding {
    padding-top: 0px;
  }
  .contact-container .col-sm-3 .panel-body a {
    text-align: center;
    display: inline-block;
  }
  .portfolio-project {
    margin: 20px;
  }
}

@media(max-height:400px) {
  .home-container {
    padding-top: 40px;
  }
  .header-text h3,
  .header-text hr {
    margin: 0px 0px 10px 0px;
  }
}